body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 1rem;
}

a {
    color: #1e90ff; /* Синяя ссылка */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

